@*@model Shop.Context.User_2119110245*@
@model Shop.Models.AccountModel
@{
    ViewBag.Title = "Thông tin cá nhân";
    Layout = "~/Views/Shared/_Layout02.cshtml";
}
<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg-gray">
    <div class="container">
        <h2 class="title-page">Xin chào  @Model.objUser.FirstName @Model.objUser.LastName</h2>
    </div> <!-- container //  -->
</section>
<!-- ========================= SECTION PAGETOP END// ========================= -->
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">

        <div class="row">
            <aside class="col-md-3">
                <nav class="list-group">
                    <a class="list-group-item active" href="#"> Tổng quan về tài khoản  </a>
                    <a class="list-group-item" href="#"> Địa chỉ </a>
                    <a class="list-group-item" href="#"> Đơn hàng </a>
                    <a class="list-group-item" href="#"> Sản phẩm yêu thích </a>
                    <a class="list-group-item" href="#"> Cài đặt </a>
                    <a class="list-group-item" href="@Url.Action("Logout","Home")"> Đăng xuất </a>
                   

                </nav>
            </aside> <!-- col.// -->
            <main class="col-md-9">

                <article class="card mb-3">
                    <div class="card-body">

                        <figure class="icontext">
                            <div class="icon">
                                <img class="rounded-circle img-sm border" src="~/Public/images/avatars/avt.jpg">
                            </div>
                            <div class="text">
                                <strong>  @Model.objUser.FirstName @Model.objUser.LastName </strong> <br>
                                <p class="mb-2">@Model.objUser.Email  </p>
                                <a href="#" class="btn btn-light btn-sm">Sửa</a>
                            </div>
                        </figure>
                        <hr>
                        <p>
                            <i class="fa fa-map-marker text-muted"></i> &nbsp;   Địa chỉ của tôi:
                            <br>

                            @Model.objUser.Address<span> |</span>
                            <a href="#" class="btn-link"> Sửa</a>
                        </p>



                        <article class="card-group card-stat">
                            <figure class="card bg">
                                <div class="p-3">
                                    <h4 class="title">
                                        @Model.ListOrder.Count
                                    </h4>
                                    <span>Đơn hàng</span>
                                </div>
                            </figure>
                        
                            <figure class="card bg">
                                <div class="p-3">
                                    <h4 class="title">
                                        @Model.ListOrder.Count(a=>a.Delivery==0)
                                    </h4>
                                    <span>Chờ xác nhận</span>
                                </div>
                            </figure>
                            <figure class="card bg">
                                <div class="p-3">
                                    <h4 class="title">
                                        @Model.ListOrder.Count(a=>a.Delivery==2)
                                    </h4>
                                    <span>Chờ giao hàng</span>
                                </div>
                            </figure>
                            <figure class="card bg">
                                <div class="p-3">
                                    <h4 class="title">
                                        @Model.ListOrder.Count(a=>a.Delivery==3)
                                    </h4>
                                    <span>Các đơn đã giao</span>
                                </div>
                            </figure>
                        </article>


                    </div> <!-- card-body .// -->
                </article> <!-- card.// -->

                <article class="card  mb-3">
                    <div class="card-body">
                        <h5 class="card-title mb-4">Những đơn đặt hàng gần đây </h5>

                        <div class="row">
                            <div class="col-md-6">
                                <figure class="itemside  mb-3">
                                    <div class="aside"><img src="~/Public/images/items/1.jpg" class="border img-sm"></div>
                                    <figcaption class="info">
                                        <time class="text-muted"><i class="fa fa-calendar-alt"></i> 12.09.2019</time>
                                        <p>Tên cuốn sách tuyệt vời ở đây </p>
                                        <span class="text-success">Xác nhận đặt hàng </span>
                                    </figcaption>
                                </figure>
                            </div> <!-- col.// -->
                            <div class="col-md-6">
                                <figure class="itemside  mb-3">
                                    <div class="aside"><img src="~/Public/images/items/2.jpg" class="border img-sm"></div>
                                    <figcaption class="info">
                                        <time class="text-muted"><i class="fa fa-calendar-alt"></i> 12.09.2022</time>
                                        <p>Làm thế nào để trở nên giàu có</p>
                                        <span class="text-success">Đã khởi hành</span>
                                    </figcaption>
                                </figure>
                            </div> <!-- col.// -->
                            <div class="col-md-6">
                                <figure class="itemside mb-3">
                                    <div class="aside"><img src="~/Public/images/items/3.jpg" class="border img-sm"></div>
                                    <figcaption class="info">
                                        <time class="text-muted"><i class="fa fa-calendar-alt"></i> 12.09.2019</time>
                                        <p>Sách Harry Potter </p>
                                        <span class="text-success">Đã vận chuyển  </span>
                                    </figcaption>
                                </figure>
                            </div> <!-- col.// -->
                        </div> <!-- row.// -->

                        <a href="#" class="btn btn-outline-primary btn-block"> Xem tất cả các đơn đặt hàng <i class="fa fa-chevron-down"></i>  </a>
                    </div> <!-- card-body .// -->
                </article> <!-- card.// -->

            </main> <!-- col.// -->
        </div>

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
