@model Shop.Context.Category_2119110245

@{
    ViewBag.Title = "Thêm mới";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2></h2>

@using (Html.BeginForm("Create", "Category", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <!-- Main content -->
    <section class="content my-2">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <strong class="text-danger text-uppercase">thêm danh mục</strong>
                    </div>
                    <div class="col-md-6 text-right">
                        <button class="btn-sm btn-success" type="submit" name="create"> <i class="fas fa-save"></i> Lưu[Thêm]</button>
                        <a href="@Url.Action("Index","Category")" class="btn-sm btn-info"><i class="fas fa-arrow-circle-left"></i> Về danh sách</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    @*<div class="col-md-12">
                                <div class="form-group">
                                   
                                </div>



                                <div class="from-group">
                                  
                                </div>
                                <div class="form-group">

                                </div>
                            </div>
                        </div>*@
                    <table class="table table-bordered">
                        <tr>
                            <th style="width:250px;">Thuộc tính</th>
                            <th>Nội dung</th>
                        </tr>
                        <tr>
                            <td>
                                <label class="text-center">Tên danh mục <span class="text-danger">(*)</span></label>
                            </td>
                            <td>

                                @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control col-md-8" } })
                                @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })

                            </td>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                            <td>
                                <label class="text-center">Hình</label>
                            </td>
                            <td>
                                <input name="ImageUpload" type="file" class="from-control" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="text-center">Trạng thái</label>
                            </td>
                            <td>
                                @Html.DropDownListFor(model => model.Deleted, new[] { new SelectListItem { Text = "Không xuất bản", Value = "2" }, new SelectListItem { Text = "Xuất bản", Value = "1" } }, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Deleted, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                    </table>
                    <span style="font-style:italic"><span class="text-danger">(*) </span> là các trường bắc buộc</span>
                </div>
            </div>
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
}

<div>
    <a href="@Url.Action("Index")" class="btn__back" >Trở về</a>
</div>
<style>
    table {
        border:none;
    }
    .btn__back {
        background-color: #ff6a00;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        color: white;
        opacity:0.8
        
    }
    .btn__back:hover{
        color:black;
        opacity:1;
    }
</style>
