@model Shop.Context.Category_2119110245

@{
    ViewBag.Title = "Xoá " + Model.CategoryName;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}




<div>
    <h2 style="margin-left:15px;">Xoá danh mục @Model.CategoryName</h2>
    <h3 style="margin-left:15px;">Bạn có chắc chắn muốn xóa cái này không?</h3>
    <hr />
    <div class="card-body">
        <table class="table table-bordered">
            <tr>
                <th style="width:150px">Thuộc tính</th>
                <th>Nội dung</th>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.CategoryId)
                </td>
                <td>
                    @Html.DisplayFor(model => model.CategoryId)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.CategoryName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Avatar)
                </td>
                <td>
                    @*@{
                            var item = html.displayfor(model => model.avatar).tostring();
                        }*@

                    <img src="~/Public/images/category/@Model.Avatar" alt="@Model.CategoryName" />
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Slug)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Slug)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.DisplayOrder)
                </td>
                <td>
                    @Html.DisplayFor(model => model.DisplayOrder)
                </td>
            </tr>



            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.ShowOnHomePage)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ShowOnHomePage)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.CreateOnUtc)
                </td>
                <td>
                    @Html.DisplayFor(model => model.CreateOnUtc)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.UpdateOnUtc)
                </td>
                <td>
                    @Html.DisplayFor(model => model.UpdateOnUtc)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Deleted)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Deleted)
                </td>
            </tr>
        </table>
    </div>

    @using (Html.BeginForm("Delete", "Category", FormMethod.Post, new { enctype = "multipart/from-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
