@model Shop.Context.Category_2119110245

@{
    ViewBag.Title = "Chi tiết " + Model.CategoryName;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div>

    <hr />
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <strong>CHI TIẾT SẢN PHẨM</strong>
                </div>
                <div class="col-md-6 text-right">
                    <a href="@Url.Action("Edit", "Category", new { id = Model.CategoryId })" class="btn btn-sm btn-success"><i class="fas fa-edit"></i>Cập nhật</a>
                    <a href="@Url.Action("Index", "Category")" class="btn-sm btn-info"><i class="fas fa-arrow-circle-left"></i> Về danh sách</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <tr>
                    <th style="width:150px">Thuộc tính</th>
                    <th>Nội dung</th>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.CategoryName)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Avatar)
                    </td>
                    <td>
                        @*@{
                                var item = html.displayfor(model => model.avatar).tostring();
                            }*@

                        <img src="~/Public/images/category/@Model.Avatar" alt="@Model.CategoryName" />
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Slug)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Slug)
                    </td>
                </tr>



                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.ShowOnHomePage)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.ShowOnHomePage)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.CreateOnUtc)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.CreateOnUtc)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Deleted)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Deleted)
                    </td>
                </tr>
            </table>
        </div>
        <!-- /.card-body -->

    </div>
    <!-- /.card -->
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
