@model Shop.Context.User_2119110245
@{
    ViewBag.Title = " Đăng nhập hệ thống";
    Layout = "~/Areas/Admin/Views/Shared/_LoginAdmin.cshtml";
}
<style>
    .login-box {
        margin: 0 auto;
        margin-top: 240px;
    }

    .card-primary.card-outline {
        border-top: 3px solid #ff6a00;
    }

    .btn-primary {
        color: #fff;
        background-color: #ff6a00;
        border-color: #ff6a00;
        box-shadow: none;
        margin-top: 10px;
    }
</style>

<div class="signin ">

    <h2 class="signin__headding">
       @ViewBag.Title
    </h2>
    @using (Html.BeginForm("LoginAdmin", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken();
        @Html.Raw(ViewBag.Error)
        <form action="#" method="post">
            <div class="form__group mb-3">
                @*<input type="text" name="Email" required class="form-control" placeholder="Tên đăng nhập">*@
                <input type="email" name="Email" required class="form__input" placeholder="Nhập Email của bạn">
                <label for="name" class="form__label">Email</label>
                <i class="fa fa-envelope form__icon"></i>
                @Html.ValidationMessageFor(model => model.Email, "", new { @style = "color:red;font-style:italic" })


                @*<div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-envelope"></span>
            </div>
        </div>*@
            </div>
            <div class="form__group mb-3">
                @*<input type="password" name="Password" required class="form-control" placeholder="Mật khẩu">*@
                <input type="password" name="Password" required class="form__input" id="input" placeholder="Nhập mật khẩu của bạn">
                <label for="name" class="form__label">Mật khẩu</label>
                <svg xmlns="http://www.w3.org/2000/svg" class="eye eye-close" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" class="eye eye-open hidden" fill="none" viewBox="0 0 24 24"
                     stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                </svg>
                @Html.ValidationMessageFor(model => model.Password, "", new { @style = "color:red;font-style:italic" })

                @*<div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-lock"></span>
            </div>
        </div>*@
            </div>

            <div class="form__group">
                @*<button type="submit" class="btn btn-primary btn-block">ĐĂNG NHẬP</button>*@
                <button type="submit" class="form__submit">
                    <span class="form__submit-text">Đăng nhập</span><i class="fa-solid fa-arrow-right form__submit-icon"></i>
                </button>
            </div>

        </form>
    }


</div>
<!-- /.login-box -->
<!--=====================================================-->
<!--=====================================================-->
<!--=====================================================-->
<!--=====================================================-->
<!--=====================================================-->
<!--=====================================================-->
<!--========================Style========================-->
<style>
    :root {
        --primary: #ff6a00;
        --text-color: #202020;
    }

    body {
        width: 100%;
        height: 100vh;
        /* background-image: linear-gradient(to right top, #ff4988, #ffc781, #fffefc); */
        background-color: rgba(255,106,000,0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .signin {
        width: 100%;
        background-color: white;
        max-width: 500px;
        padding: 55px 50px;
        border-radius: 20px;
    }

    .signin__headding {
        font-size: 35px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 20px;
        text-transform: uppercase;
        color: var(--text-color);
    }

    .form__group {
        margin-bottom: 25px;
    }

    .form__input {
        font-family: sans-serif;
        color: var(--text-color);
        padding: 20px;
        border-radius: 10px;
        outline: none;
        font-size: 16px;
        font-weight: 500;
        border: 1px solid #eee;
        transition: .25s linear;
        width: 100%;
    }

        .form__input:focus {
            border-color: #eee;
            background-color: #fff;
        }

        .form__input::-webkit-input-placeholder {
            color: #ccc;
            font-style: italic;
        }

    .form__submit {
        border-radius: 10px;
        color: white;
        padding: 15px;
        cursor: pointer;
        border: none;
        outline: none;
        font-family: sans-serif;
        font-size: 16px;
        text-align: center;
        width: 100%;
        background-color: var(--primary);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form__submit-text {
        font-size: 20px;
    }

    .form__submit-text {
        margin: 0 auto;
    }
    /*----------------------focus input-----------*/
    .form__input {
        padding: 20px;
        border: 1px solid #eee;
        width: 100%;
        height: 50px;
        padding: 0 20px;
        transition: 0.5s ease;
    }

        .form__input:focus {
            border-color: #ff6a00;
        }

    .form__group {
        position: relative;
    }

    .form__label {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 21px;
        user-select: none;
        color: #999;
        opacity: 0;
        pointer-events: none;
        transition: 0.5s ease;
    }
    .form__icon {
        position: absolute;
        top: 50%;
        font-size: 25px;
        transform: translateY(-50%);
        right: 11px;
        user-select: none;
        color: #999;
        pointer-events: none;
        transition: 0.5s ease;
    }

    .form__input:focus.form__input::-webkit-input-placeholder {
        opacity: 0;
    }

    .form__input:not(:placeholder-shown) + .form__label,
    .form__input:focus + .form__label {
        top: 0;
        opacity: 1;
        padding: 0px 10px;
        display: inline-block;
        background: white;
        color: #ff6a00;
    }
    /*an hien mk*/
    .form__group {
        position: relative;
        max-width: 500px;
    }

    .form__input {
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 20px 30px;
        font-family: "Poppins" sans-serif;
        font-size: 14px;
        transition: all 0.2s linear;
    }

        .form__input:focus {
            border-color: #ff6a00;
        }

    .eye {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        max-width: 20px;
    }

    .hidden {
        display: none;
    }
</style>
<!--====================End Style .//====================-->
<!--====================Script====================-->
<script>
    const input = document.querySelector(".form__input");
    const inputId = document.querySelector("#input");
    const eyeClose = document.querySelector(".eye-close");
    const eyeOpen = document.querySelector(".eye-open");

    eyeOpen.addEventListener("click", function () {
        eyeOpen.classList.add("hidden");
        eyeClose.classList.remove("hidden");
        inputId.setAttribute("type", "password");
    });
    eyeClose.addEventListener("click", function () {
        eyeOpen.classList.remove("hidden");
        eyeClose.classList.add("hidden");
        inputId.setAttribute("type", "text");
    });

</script>
<!--====================End Script .//====================-->