@model Shop.Models.AdminOrderModel

@{
    ViewBag.Title = "Chi tiết đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@{ var itemOrder = Model.ListOrder.FirstOrDefault();}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <strong class="text-uppercase title__header" style="color:#ff6a00;">chi tiết đơn hàng</strong>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Thêm mới</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>


<!-- /.content-header -->
<section class="content">
    <div class="form-horizontal">
        <hr />

        <!-- Main content -->
        <section class="content my-2">
            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-9 text-center">
                            <h4>Tên đơn hàng: <span class="font-weight-bold">@itemOrder.Name</span></h4>
                        </div>
                        <div class="col-md-3 text-right">


                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-9">

                            <table class="table table-bordered table-striped " id="myTable">
                                <thead>
                                    <tr>
                                        @*<th class="text-center align-middle" style="width:20px;"></th>*@
                                        <th class="align-middle text-center"> Id</th>
                                        <th class="align-middle text-center">  Tên sản phẩm</th>
                                        <th class="align-middle text-center">  Ảnh sản phẩm</th>
                                        <th class="align-middle text-center">  Giá sản phẩm</th>
                                        <th class="align-middle text-center">  Số lượng</th>
                                        <th class="align-middle text-center">  Thành tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var itemDetail in Model.ListOrderDetail)
                                    {
                                        int i = 0;
                                        var ProductPriceDis = Model.ListProduct.FirstOrDefault().PriceDiscount;
                                        var ProductPrice = Model.ListProduct.FirstOrDefault().Price;
                                        var price = ProductPriceDis != 0 ? Model.ListProduct.FirstOrDefault().PriceDiscount : Model.ListProduct.FirstOrDefault().Price;
                                        var itemProduct = Model.ListProduct.Where(a => a.Id == itemDetail.ProductId).FirstOrDefault();
                                        var totalPrice = 0;
                                                                       
                                        <tr>
                                            @*<td class="align-middle text-center">
                                                    <input type="checkbox" name="checkId" value="" />
                                                </td>*@
                                            <td class="align-middle text-center">@itemDetail.ProductId</td>

                                            <td class="align-middle">@itemProduct.Name</td>

                                            <td>
                                                <img src="~/Public/images/product/@itemProduct.Avatar" width="100px" />
                                            </td>
                                            <td class="align-middle text-center">
                                                @if (Model.ListProduct.Where(n => n.Id == itemDetail.ProductId).FirstOrDefault().PriceDiscount == 0)
                                                {
                                                    <strong class="price text-muted">@Convert.ToDecimal(Model.ListProduct.Where(n => n.Id == itemDetail.ProductId).FirstOrDefault().Price).ToString("#,##0") đ</strong>
                                                }
                                                else
                                                {
                                                    <strong class="price text-muted">@Convert.ToDecimal(Model.ListProduct.Where(n => n.Id == itemDetail.ProductId).FirstOrDefault().PriceDiscount).ToString("#,##0") đ </strong>
                                                }
                                            </td>
                                            <td class="align-middle text-center">@itemDetail.Quantity</td>
                                            <td class="align-middle text-center">
                                                @if (Model.ListProduct.Where(n => n.Id == itemDetail.ProductId).FirstOrDefault().PriceDiscount == 0)
                                                {
                                                    <strong class="price text-muted">@Convert.ToDecimal(Model.ListProduct.Where(n => n.Id == itemDetail.ProductId).FirstOrDefault().Price* itemDetail.Quantity).ToString("#,##0") đ</strong>
                                                }
                                                else
                                                {
                                                    <strong class="price text-muted">@Convert.ToDecimal(Model.ListProduct.Where(n => n.Id == itemDetail.ProductId).FirstOrDefault().PriceDiscount* itemDetail.Quantity).ToString("#,##0") đ </strong>
                                                }
                                            </td>
                                          
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                        <div class="col-md-3">
                            @{ var fullName = Model.ListUser.Where(n => n.Id == itemOrder.UserId).FirstOrDefault().FirstName + " " + Model.ListUser.Where(n => n.Id == itemOrder.UserId).FirstOrDefault().LastName;}
                            <p> Đơn đặt hàng từ:<span style="font-weight:bold"> @Convert.ToDateTime(itemOrder.CreateOnUtc).ToString("dd/MM/yyyy - hh:mm:ss tt")</span><br /></p>
                            <p> Người đặt hàng: <span style="font-weight:bold">@fullName</span><br /></p>
                            <p> Số điện thoại: <span style="font-weight:bold">@Model.ListUser.Where(a => a.Id == itemOrder.UserId).FirstOrDefault().Phone</span><br /></p>
                            <p> Địa chỉ giao hàng: <span style="font-weight:bold">@Model.ListUser.Where(a => a.Id == itemOrder.UserId).FirstOrDefault().Address</span><br /></p>
                            <p> Địa chỉ email: <span style="font-weight:bold">@Model.ListUser.Where(n => n.Id == itemOrder.UserId).FirstOrDefault().Email</span><br /></p><br /><br />
                            <p>Tổng thành tiền: <span style="font-weight:bold; font-size:35px;">
                                @Convert.ToDecimal(Model.ListOrderDetail.Sum(a => a.TotalPrice)).ToString("#,##0")
                                </span></p>



                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card -->
        </section>
        <!-- /.content -->
    </div>



</section>

























@*


    <!------------------------------>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-5">
                <h1>Chi tiết đơn hàng</h1>
            </div>

            <div class="col-md-5 text-right">
                <a href="@Url.Action("Index", "Order")" class="btn btn-outline-primary">Quay lại</a>
            </div>
        </div>
    </div>

    <main class="container mt-4">
        @{ var itemOrders = Model.ListOrder.FirstOrDefault();}
        <article class="card my-4">
            <header class="card-header">
                <strong class="d-inline-block mr-3">@itemOrders.Name</strong>
                <span>Ngày đặt hàng: @itemOrders.CreateOnUtc</span>
            </header>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <h6 class="text-muted">Gửi từ</h6>
                        <p>
                            @{var itemUser = Model.ListUser.Where(n => n.Id == itemOrders.UserId).FirstOrDefault();}
                            Tên khách hàng: @itemUser.FirstName <br>
                            Email: @itemUser.Email <br>
                            Địa chỉ giao: @itemOrders.Address
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h6 class="text-muted">Thanh toán</h6>
                        <span class="text-success">
                            <i class="fab fa-lg fa-cc-visa"></i>
                            Visa  1231244216
                        </span>
                        <p>
                            <span class="b">Tổng cộng: @itemOrders.Price </span>
                        </p>
                    </div>
                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr class="text-center">
                            <th class="text-left" scope="col">Sản phẩm</th>
                            <th scope="col"> Số lượng </th>
                            <th scope="col">Giá sản phẩm</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var itemOrDetail in Model.ListOrderDetail)
                        {
                            <tr class="text-center">
                                <td class="text-left">
                                    <p class="title mb-0">@Model.ListProduct.FirstOrDefault().Name </p>
                                </td>
                                <td>
                                    <p class="title mb-0">@itemOrDetail.Quantity </p>
                                </td>
                                <td>
                                    @if (Model.ListProduct.Where(n => n.Id == itemOrDetail.ProductId).FirstOrDefault().PriceDiscount == 0)
                                    {
                                        <var class="price text-muted">@Model.ListProduct.Where(n => n.Id == itemOrDetail.ProductId).FirstOrDefault().Price đ</var>
                                    }
                                    else
                                    {
                                        <var class="price text-muted">@Model.ListProduct.Where(n => n.Id == itemOrDetail.ProductId).FirstOrDefault().PriceDiscount đ</var>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div> <!-- table-responsive .end// -->
        </article> <!-- card order-item .// -->

    </main>


*@
