

@using PagedList
@using PagedList.Mvc

@model Shop.Models.AdminOrderModel

@{
    ViewBag.Title = "Đơn hàng";
}

<div class="content-header clearfix">
    <div class="container">
        <div class="float-left">
            <h2>Quản lý đơn hàng</h2>
        </div>
    </div>
</div>

<section class="search">
    <div class="container">
        @using (Html.BeginForm("Index", "Order", FormMethod.Get))
        {
            <div class="row">
                <div class="col-md-6">
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, htmlAttributes: new { @placeholder = "Tìm bằng tên đơn hàng", @class = "form-control text-box single-line" })
                </div>
                <div class="col-md-3">
                    <button class="btn btn-primary btn-search" type="submit">
                        <i class="fas fa-search"></i>
                        Tìm kiếm
                    </button>
                </div>
            </div>
        }
    </div>
</section>
<br>
<img href="" />
<section>
    <div class="container-fluid">
        <div class="card card-default">
            <div class="card-body">
                <table class="table table-bordered table-hover table-striped dataTable no-footer ">
                    <thead>
                        <tr>
                            <th rowspan="2" class="text-center align-middle">
                                Người đặt
                            </th>
                            <th rowspan="2" class="text-center align-middle">
                                Tên đơn hàng
                            </th>
                            @*<th rowspan="2" class="text-center align-middle">
                                Giá
                            </th>*@
                            <th colspan="3" class="text-center align-middle">
                                Vận chuyển
                            </th>

                            @*<th>
                                    Trang thai
                                </th>*@
                            <th rowspan="2" class="text-center align-middle">
                                Chức năng
                            </th>
                        </tr>
                        <tr>
                            <th class="text-center align-middle">Xác nhận</th>
                            <th class="text-center align-middle">Giao hàng</th>
                            <th class="text-center align-middle">Đã nhận</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ListOrder)
                        {
                            var name = item.Name.ToLower();
                            var id = item.Id;
                            var url_details = "/quan-tri/don-hang/chi-tiet-don-hang/" + name + "-" + id;
                            var Name = Model.ListUser.Where(n => n.Id == item.UserId).FirstOrDefault().FirstName + " " + Model.ListUser.Where(n => n.Id == item.UserId).FirstOrDefault().LastName;
                            <tr id="product-@item.Id">
                                <td class="align-middle">
                                    @Name
                                </td>
                                <td class="align-middle">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <!--<td class="align-middle text-right font-italic font-weight-bold">-->
                                    @*10.000.000 đ*@
                                    <!--@Convert.ToDecimal(item.Price).ToString("#,##0")<sup> đ</sup>
                                </td>-->
                                <td class="align-middle">
                                    @if (item.Delivery == 1 || item.Delivery == 2 || item.Delivery == 3)
                                    {
                                        <a class="btn" href="@Url.Action("DeliveryToggle_Confirm","Order", new { id = item.Id })">
                                            <i class="fa-solid fa-circle-check" style="color:green"></i>  Đã xác nhận
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn" href="@Url.Action("DeliveryToggle_Confirm","Order", new { id = item.Id })">
                                            <i class="fa-solid fa-circle-xmark" style="color:red"></i> Chưa xác nhận
                                        </a>
                                    }
                                </td>
                                <td class="align-middle">
                                    @if (item.Delivery == 2 || item.Delivery == 3)
                                    {
                                        <a class="btn" href="@Url.Action("DeliveryToggle","Order", new { id = item.Id })">
                                            <i class="fa-solid fa-circle-check" style="color:green"></i> Đang giao hàng
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn" href="@Url.Action("DeliveryToggle","Order", new { id = item.Id })">
                                            <i class="fa-solid fa-circle-xmark" style="color:red"></i> Chưa giao hàng
                                        </a>
                                    }
                                </td>
                                <td class="align-middle">
                                    @if (item.Delivery == 3)
                                    {
                                        <a class="btn" href="@Url.Action("DeliveryToggle_Recieve","Order", new { id = item.Id })">
                                            <i class="fa-solid fa-circle-check" style="color:green"></i>  Đã nhận hàng
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn" href="@Url.Action("DeliveryToggle_Recieve","Order", new { id = item.Id })">
                                            <i class="fa-solid fa-circle-xmark" style="color:red"></i> Chưa nhận hàng
                                        </a>
                                    }
                                </td>

                                @*<td class="align-middle">
                                        @if (item.Status == 1)
                                        {
                                            <a class="btn" href="@Url.Action("Status","Order", new { id = item.Id })">
                                                &#10004; Đang chờ
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="btn" href="@Url.Action("Status","Order", new { id = item.Id })">
                                                &#10060; Huỷ đơn
                                            </a>
                                        }
                                    </td>*@
                                <td class="align-middle text-center">
                                    <a class="func_hover" href="@url_details " style="color:green; margin:0 10px;">
                                        <img src="~/Public/images/icons/view-files.png" />
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-3">
            @*Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
            @Html.PagedListPager(Model.ILstOder, page => Url.Action("Index", new { page, CurrentFilter = ViewBag.CurrentFilter }))
        </div>
    </div>
</section>

@*<p style="margin-left: 20px; font-family: 'Poppins', sans-serif; "> Trang @(Model.PageCount< Model.PageNumber ? 0: Model.PageNumber) of @Model.PageCount</p>

    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, currentFilter = ViewBag.CurrentFilter }))*@


<style>
    .func_hover {
        width: 25px;
        font-size: 25px;
    }

        .func_hover:hover i {
            color: #ff6a00;
            transform: scale(1.5)
        }

    .pagination {
        display: inline-block;
        padding-left: 0;
        margin: 20px 0;
        border-radius: 4px;
        margin-left: 20px;
        font-family: 'Poppins', sans-serif;
    }

        .pagination > li {
            display: inline;
        }

            .pagination > li > a,
            .pagination > li > span {
                position: relative;
                float: left;
                padding: 6px 12px;
                margin-left: -1px;
                line-height: 1.428571429;
                text-decoration: none;
                background-color: #fff;
                border: 1px solid #ddd;
            }

            .pagination > li:first-child > a,
            .pagination > li:first-child > span {
                margin-left: 0;
                border-bottom-left-radius: 4px;
                border-top-left-radius: 4px;
            }

            .pagination > li:last-child > a,
            .pagination > li:last-child > span {
                margin-left: 0;
                border-bottom-right-radius: 4px;
                border-top-right-radius: 4px;
            }

            .pagination > li > a:hover,
            .pagination > li > a:focus, .pagination > li > span:hover,
            .pagination > li > span:focus {
                background-color: #eee
            }

        .pagination > .active > a,
        .pagination > .active > span,
        .pagination > .active > a:hover,
        .pagination > .active > span:hover,
        .pagination > .active > a:focus,
        .pagination > .active > span:focus {
            z-index: 2;
            color: #fff;
            cursor: default;
            background-color: #ffa600;
            border-color: #ffa600;
        }

        .pagination > .disabled > a,
        .pagination > .disabled > span,
        .pagination > .disabled > a:hover,
        .pagination > .disabled > a:focus {
            color: #999;
            cursor: not-allowed;
            background-color: #fff;
            border-color: #ddd;
        }

    .pagination-lg > li > a,
    .pagination-lg > li > span {
        padding: 10px 16px;
        font-size: 18px;
    }

    .pagination-lg > li:first-child > a
    .pagination-lg > li:first-child > span {
        border-bottom-left-radius: 6px;
        border-top-left-radius: 6px;
    }

    .pagination-lg > li:last-child > a
    .pagination-lg > li:last-child > span {
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
    }

    .pagination-sm > li > a,
    .pagination-sm > li > span {
        padding: 5px 10px;
        font-size: 12px;
    }

    .pagination-sm > li:first-child > a
    .pagination-sm > li:first-child > span {
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
    }

    .pagination-sm > li:last-child > a
    .pagination-sm > li:last-child > span {
        border-bottom-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .pager {
        padding-left: 0;
        margin: 20px 0;
        text-align: center;
        list-style: none;
    }

        .pager:before, .pager:after {
            display: table;
            content: " ";
        }

        .pager:after {
            clear: both;
        }

        .pager:before, .pager:after {
            display: table;
            content: " ";
        }

        .pager:after {
            clear: both;
        }

        .pager li {
            display: inline;
        }

            .pager li > a,
            .pager li > span {
                display: inline-block;
                padding: 5px 14px;
                background-color: #fff;
                border: 1px solid #ddd;
                border-radius: 15px;
            }

                .pager li > a:hover, .pager li:active:focus {
                    text-decoration: none;
                    background-color: #eee;
                }

        .pager .next > a,
        .pager .next > span {
            float: right;
        }

        .pager .previous > a,
        .pager .previous > span {
            float: left;
        }

        .pager .disabled > a,
        .pager .disabled > a:hover,
        .pager .disabled > a:focus,
        .pager .disabled > span {
            color: #999;
            cursor: not-allowed;
            background-color: #fff;
        }

    a {
        color: #ffa600;
    }
</style>


