
@model Shop.Context.Brand_2119110245
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Create", "Brand", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <!-- Main content -->
    <section class="content my-2">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <strong class="text-danger text-uppercase">thêm thương hiệu</strong>
                    </div>
                    <div class="col-md-6 text-right">
                        <button class="btn-sm btn-success" type="submit" name="create"> <i class="fas fa-save"></i> Lưu[Thêm]</button>
                        <a href="@Url.Action("Index","Brand")" class="btn-sm btn-info"><i class="fas fa-arrow-circle-left"></i> Về danh sách</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <table class="table table-bordered">
                        <tr>
                            <th style="width:250px;">Thuộc tính</th>
                            <th>Nội dung</th>
                        </tr>
                        <tr>
                            <td>
                                <label class="text-center">Tên thương hiệu <span class="text-danger">(*)</span></label>
                            </td>
                            <td>

                                @Html.EditorFor(model => model.BrandName, new { htmlAttributes = new { @class = "form-control col-md-8" } })
                                @Html.ValidationMessageFor(model => model.BrandName, "", new { @class = "text-danger" })

                            </td>
                        </tr>
                        <tr>
                        </tr>
                        <tr>
                            <td>
                                <label class="text-center">Hình</label>
                            </td>
                            <td class="row">
                                <div style="display:none;">
                                    @Html.EditorFor(model => model.Avatar, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                                <div class="col-md-3">
                                    <input type="file" name="ImageUpload" class="img__input" style="width:296px" />
                                </div>
                                <div class="col-md-3">
                                    <img width="100%" src="" id="avatarView" />
                                </div>


                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="text-center">Trạng thái</label>
                            </td>
                            <td>
                                @Html.DropDownListFor(model => model.Deleted, new[] { new SelectListItem { Text = "Không xuất bản", Value = "2" }, new SelectListItem { Text = "Xuất bản", Value = "1" } }, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Deleted, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                    </table>
                    <span style="font-style:italic"><span class="text-danger">(*) </span> là các trường bắc buộc</span>
                </div>
            </div>
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
}


