@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Shop.Context.User_2119110245>

@{
    ViewBag.Title = "Quản lý người dùng";
    //Layout = "~/Views/Shared/_Layout01.cshtml";
}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<table class="table">
    <tr>
        <th>
            Tên người dùng
        </th>
        <th>
            Giới tính
        </th>

        <th>
            Email
        </th>

        <th>
            Quyền quản trị
        </th>
        <th>
            Hoạt động
        </th>
        <th>Thao tác</th>
    </tr>

    @foreach (var item in Model)
    {
        var Name = item.FirstName + " " + item.LastName;
        <tr>
            <td>
                @Name
            </td>
            <td>
                @if (item.Gender == 1)
                {


                    <p>Nữ</p>
                }
                else
                {
                    <p>Nam</p>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

            <td>
                @if (item.IsAdmin == 1)
                {
                    <a href="@Url.Action("IsAdmin", "User", new { id = item.Id })" class="btn btn-sm btn-success"><i class="fas fa-toggle-on"></i> </a>
                }
                else
                {
                    <a href="@Url.Action("IsAdmin", "User", new { id = item.Id })" class="btn btn-sm btn-danger"><i class="fas fa-toggle-off"></i> </a>
                }
            </td>
            <td>
                <!--

                0. không hoạt động
                1. là hoạt động
                -->
                @if (item.IsActive == 1)
                {
                    <a href="@Url.Action("IsActive","User", new{ id = item.Id })" class="btn btn-sm btn-success" id="Active_On"><i class="fa-solid fa-square-check"></i> </a>
                }
                else
                {

                    <a href="@Url.Action("IsActive","User", new{ id = item.Id })" class="btn btn-sm btn-danger" id="Active_Off"><i class="fa-solid fa-rectangle-xmark"></i> </a>
                }
            </td>


            <td>

                <a class="btn btn-sm btn-primary" href="@Url.Action("Edit", "User", new { id = item.Id }) " style="color:white"><i class="fa-solid fa-pen-to-square"></i></a>
                <a class="btn btn-sm btn-success" href="@Url.Action("Details", "User", new { id = item.Id }) " style="color: white; margin: 0 10px;"><i class="fa-solid fa-eye"></i></a>

            </td>
        </tr>



    }

</table>
<p style="margin-left: 20px; font-family: 'Poppins', sans-serif; "> Trang @(Model.PageCount< Model.PageNumber ? 0: Model.PageNumber) of @Model.PageCount</p>

@Html.PagedListPager(Model, page => Url.Action("Index",
new { page, currentFilter = ViewBag.CurrentFilter }))


<style>
    .func_hover {
        width: 25px;
    }

        .func_hover:hover i {
            color: #ff6a00;
            transform: scale(1.5)
        }

    .pagination {
        display: inline-block;
        padding-left: 0;
        margin: 20px 0;
        border-radius: 4px;
        margin-left: 20px;
        font-family: 'Poppins', sans-serif;
    }

        .pagination > li {
            display: inline;
        }

            .pagination > li > a,
            .pagination > li > span {
                position: relative;
                float: left;
                padding: 6px 12px;
                margin-left: -1px;
                line-height: 1.428571429;
                text-decoration: none;
                background-color: #fff;
                border: 1px solid #ddd;
            }

            .pagination > li:first-child > a,
            .pagination > li:first-child > span {
                margin-left: 0;
                border-bottom-left-radius: 4px;
                border-top-left-radius: 4px;
            }

            .pagination > li:last-child > a,
            .pagination > li:last-child > span {
                margin-left: 0;
                border-bottom-right-radius: 4px;
                border-top-right-radius: 4px;
            }

            .pagination > li > a:hover,
            .pagination > li > a:focus, .pagination > li > span:hover,
            .pagination > li > span:focus {
                background-color: #eee
            }

        .pagination > .active > a,
        .pagination > .active > span,
        .pagination > .active > a:hover,
        .pagination > .active > span:hover,
        .pagination > .active > a:focus,
        .pagination > .active > span:focus {
            z-index: 2;
            color: #fff;
            cursor: default;
            background-color: #ffa600;
            border-color: #ffa600;
        }

        .pagination > .disabled > a,
        .pagination > .disabled > span,
        .pagination > .disabled > a:hover,
        .pagination > .disabled > a:focus {
            color: #999;
            cursor: not-allowed;
            background-color: #fff;
            border-color: #ddd;
        }

    .pagination-lg > li > a,
    .pagination-lg > li > span {
        padding: 10px 16px;
        font-size: 18px;
    }

    .pagination-lg > li:first-child > a
    .pagination-lg > li:first-child > span {
        border-bottom-left-radius: 6px;
        border-top-left-radius: 6px;
    }

    .pagination-lg > li:last-child > a
    .pagination-lg > li:last-child > span {
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
    }

    .pagination-sm > li > a,
    .pagination-sm > li > span {
        padding: 5px 10px;
        font-size: 12px;
    }

    .pagination-sm > li:first-child > a
    .pagination-sm > li:first-child > span {
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
    }

    .pagination-sm > li:last-child > a
    .pagination-sm > li:last-child > span {
        border-bottom-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .pager {
        padding-left: 0;
        margin: 20px 0;
        text-align: center;
        list-style: none;
    }

        .pager:before, .pager:after {
            display: table;
            content: " ";
        }

        .pager:after {
            clear: both;
        }

        .pager:before, .pager:after {
            display: table;
            content: " ";
        }

        .pager:after {
            clear: both;
        }

        .pager li {
            display: inline;
        }

            .pager li > a,
            .pager li > span {
                display: inline-block;
                padding: 5px 14px;
                background-color: #fff;
                border: 1px solid #ddd;
                border-radius: 15px;
            }

                .pager li > a:hover, .pager li:active:focus {
                    text-decoration: none;
                    background-color: #eee;
                }

        .pager .next > a,
        .pager .next > span {
            float: right;
        }

        .pager .previous > a,
        .pager .previous > span {
            float: left;
        }

        .pager .disabled > a,
        .pager .disabled > a:hover,
        .pager .disabled > a:focus,
        .pager .disabled > span {
            color: #999;
            cursor: not-allowed;
            background-color: #fff;
        }

    a {
        color: #ffa600;
    }
</style>
