<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="max-age=604800" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="Bootstrap e-commerce html template similar to Alibaba">
    <meta name="keywords" content="Online template, shop, theme, template, html, css, bootstrap 4">

    <title>@ViewBag.Title | Mobile Shop</title>

    <link href="~/Public/images/favicon.ico" rel="shortcut icon" type="image/x-icon">

    <!-- jQuery -->
    <script src="~/Public/js/jquery-2.0.0.min.js" type="text/javascript"></script>

    <!-- Bootstrap4 files-->
    <script src="~/Public/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <link href="~/Public/css/bootstrap.css" rel="stylesheet" type="text/css" />

    <!-- Font awesome 5 -->
    <link href="~/Public/fonts/fontawesome/css/all.min.css" type="text/css" rel="stylesheet">

    <!-- custom style -->
    <link href="~/Public/css/ui.css" rel="stylesheet" type="text/css" />
    <link href="~/Public/css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="~/Public/css/responsive.css" rel="stylesheet" type="text/css" />

    <!-- my style sheet -->
    <link href="~/Public/css/mystyle.css" rel="stylesheet" type="text/css" />

    <!-- custom javascript -->
    <script src="~/Public/js/script.js" type="text/javascript"></script>
    <!--Nhúng fontawesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>
<body>

    <b class="screen-overlay"></b>

    <header class="section-header">
        <section class="header-main border-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-3 col-md-12">
                        <a href="@Url.Action("Index","Home")" class="brand-wrap">
                            <img class="logo" src="~/Public/images/logoShopp.png">
                        </a> <!-- brand-wrap.// -->
                    </div>
                    <div class="col-xl-6 col-lg-5 col-md-6">
                        <form action="@Url.Action("Index","Search")" class="search-header">
                            <div class="input-group w-100">
                                @using (Html.BeginForm("Index", "Search", FormMethod.Get))
                                {
                                    <input type="text" class="form-control" placeholder="Tìm kiếm" name="SearchString" id="SearchString">

                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit">
                                            <i class="fa fa-search"></i> Tìm kiếm
                                        </button>
                                    </div>
                                }
                            </div>
                        </form> <!-- search-wrap .end// -->
                    </div> <!-- col.// -->
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="widgets-wrap float-md-right">
                            @if (Session["Id"] != null)
                            {
                                var idUser = Convert.ToInt32(Session["Id"].ToString());
                                var Slug = Session["Slug_Name"].ToString();
                                var Url_User = "/tai-khoan/" + Slug + "-" + idUser;
                                if (Session["IsAdmin"].ToString() == "1")
                                {
                                    <div class="widget-header mr-3">
                                        <a href="~/Admin/Home/Index" class="widget-view">
                                            <div class="icon-area">
                                                <i class="fa-solid fa-screwdriver-wrench"></i>

                                            </div>
                                            <small class="text"> Quản trị </small>
                                        </a>
                                    </div>//Dashboard
                                    <div class="widget-header mr-3">
                                        <a href="@Url_User" class="widget-view">
                                            <div class="icon-area">
                                                <i class="fa fa-user"></i>
                                                <span class="notify">3</span>
                                            </div>
                                            <small class="text"> Cá nhân </small>
                                        </a>
                                    </div><!--My profile //-->



                                    <div class="widget-header">
                                        <a href="@Url.Action("Logout","Home")" class="widget-view">
                                            <div class="icon-area">
                                                <i class="fa fa-sign-out-alt"></i>
                                            </div>
                                            <small class="text"> Đăng xuất </small>
                                        </a>
                                    </div><!--Logout //-->
                                }
                                else
                                {
                                    <div class="widget-header mr-3">
                                        <a href="@Url_User" class="widget-view">
                                            <div class="icon-area">
                                                <i class="fa fa-user"></i>
                                                <span class="notify">3</span>
                                            </div>
                                            <small class="text"> Cá nhân </small>
                                        </a>
                                    </div><!--My profile //-->

                                    <div class="widget-header mr-3">
                                        <a href="#" class="widget-view">
                                            <div class="icon-area">
                                                <i class="fa fa-comment-dots"></i>
                                                <span class="notify">1</span>
                                            </div>
                                            <small class="text"> Tin nhắn </small>
                                        </a>
                                    </div><!--Message //-->

                                    <div class="widget-header mr-3">
                                        <a href="@Url.Action("Index","Order")" class="widget-view">
                                            <div class="icon-area">
                                                <i class="fa fa-store"></i>
                                            </div>
                                            <small class="text"> Đơn hàng </small>
                                        </a>
                                    </div><!--Orders //-->

                                    <div class="widget-header">
                                        <a href="@Url.Action("Index","Cart")" class="widget-view">
                                            <div class="icon-area">
                                                <i class="fa fa-shopping-cart"></i>

                                                @if (Session["cart"] != null)
                                                {
                                                    <span class="notify" id="CartCount">@Session["count"]</span>
                                                }
                                                else
                                                {
                                                    <span class="" id="CartCount"></span>

                                                }

                                            </div>
                                            <small class="text"> Giỏ hàng </small>
                                        </a>
                                    </div><!--Cart //-->
                                    <div class="widget-header">
                                        <a href="@Url.Action("Logout","Home")" class="widget-view">
                                            <div class="icon-area">
                                                <i class="fa fa-sign-out-alt"></i>
                                            </div>
                                            <small class="text"> Đăng xuất </small>
                                        </a>
                                    </div><!--Logout //-->
                                }



                            }
                            else
                            {
                                <div class="widget-header">
                                    <a href="@Url.Action("Login","Home")" class="widget-view">
                                        <div class="icon-area">
                                            <i class="fa fa-sign-in-alt"></i>
                                        </div>
                                        <small class="text"> Đăng nhập </small>
                                    </a>
                                </div><!--Login //-->
                                <div class="widget-header">
                                    <a href="@Url.Action("Register","Home")" class="widget-view">
                                        <div class="icon-area">

                                            <i class="fa fa-cash-register"></i>
                                        </div>
                                        <small class="text"> Đăng ký </small>
                                    </a>
                                </div><!--Register //-->
                            }
                        </div> <!-- widgets-wrap.// -->
                    </div> <!-- col.// -->
                </div> <!-- row.// -->
            </div> <!-- container.// -->
        </section> <!-- header-main .// -->

    </header> <!-- section-header.// -->


    <div class="container">

        @RenderBody()

    </div>
    <!-- container end.// -->
    <!-- ========================= FOOTER ========================= -->
    <footer class="section-footer bg-secondary">
        <div class="container">
            <section class="footer-top padding-y-lg text-white">
                <div class="row">
                    <aside class="col-md col-6">
                        <h6 class="title">Thương hiệu</h6>
                        <ul class="list-unstyled">
                            <li> <a href="@Url.Action("ProductBrandList","Product", new { @id=24})">Oppo</a></li>
                            <li> <a href="@Url.Action("ProductBrandList","Product", new { @id=4})">ASUS</a></li>
                            <li> <a href="@Url.Action("ProductBrandList","Product", new { @id=26})">Samsung</a></li>
                            <li> <a href="@Url.Action("ProductBrandList","Product", new { @id=25})">realme</a></li>
                        </ul>
                    </aside>
                    <aside class="col-md col-6">
                        <h6 class="title">Cửa hàng</h6>
                        <ul class="list-unstyled">
                            <li> <a href="/ve-chung-toi">Về chúng tôi</a></li>
                            @*<li> <a href="#">Career</a></li>
                                <li> <a href="#">Find a store</a></li>
                                <li> <a href="#">Rules and terms</a></li>
                                <li> <a href="#">Sitemap</a></li>*@
                        </ul>
                    </aside>
                    <aside class="col-md col-6">
                        <h6 class="title">Hỗ trợ</h6>
                        <ul class="list-unstyled">
                            <li> <a href="/lien-he">Liên hệ</a></li>
                            <li> <a href="#">Hỗ trợ trực tuyến</a></li>
                            <li> <a href="#">Trung tâm bảo hành</a></li>
                            @*<li> <a href="#">Shipping info</a></li>
                                <li> <a href="#">Open dispute</a></li>*@
                        </ul>
                    </aside>
                    <aside class="col-md col-6">
                        <h6 class="title">Tài khoản</h6>
                        <ul class="list-unstyled">
                            <li> <a href="/dang-nhap"> Đăng nhập </a></li>
                            <li> <a href="/dang-ky"> Đăng kí </a></li>
                            <li> <a href="#"> Thông tin </a></li>
                            <li> <a href="#"> Đơn hàng </a></li>
                        </ul>
                    </aside>
                    <aside class="col-md">
                        <h6 class="title">Social</h6>
                        <ul class="list-unstyled">
                            <li><a href="http://facebook.com/"> <i class="fab fa-facebook"></i> Facebook </a></li>
                            <li><a href="https://twitter.com/"> <i class="fab fa-twitter"></i> Twitter </a></li>
                            <li><a href="https://www.instagram.com/"> <i class="fab fa-instagram"></i> Instagram </a></li>
                            <li><a href="http://youtube.com/"> <i class="fab fa-youtube"></i> Youtube </a></li>
                        </ul>
                    </aside>
                </div> <!-- row.// -->
            </section>	<!-- footer-top.// -->

            <section class="footer-bottom text-center">

                <p class="text-white">Chính sách bảo mật - Điều khoản sử dụng - Thông tin người dùng Hướng dẫn hỏi đáp pháp lý</p>
                <p class="text-muted"> &copy 2019 Tên công ty, Mọi quyền được bảo lưu </p>                <br>
            </section>
        </div><!-- //container -->
    </footer>
    <!-- ========================= FOOTER END // ========================= -->



</body>
</html>