@model Shop.Models.AdminHomeModel

@{
    ViewBag.Title = "Xoá " + Model.objProduct.Name;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<h3>Bạn có chắc chắn muốn xoá sản phẩm?</h3>
<div>
    <hr />

        <div class="col-md-9">
            <table class="table table-bordered table-striped" id="myTable">
                <thead>
                    <tr>

                        <th class="text-center" style="width:200px">  Trường</th>
                        <th class="text-center"> Nội dung  </th>

                    </tr>
                </thead>

                <tbody>

                    <tr>
                        <td class="field">Tên sản phẩm</td>
                        <td>@Model.objProduct.FullName</td>
                    </tr>
                    <tr>
                        <td class="field">Danh mục</td>
                        <td>@Model.CategoryName</td>
                    </tr>
                    <tr>
                        <td class="field">Thương hiệu</td>
                        <td>@Model.BrandName</td>
                    </tr>
                    <tr>
                        <td class="field">Chi tiết</tdclass="field">
                        <td>@Model.objProduct.ShoetDes</td>
                    </tr>
                    <tr>
                        <td class="field">Giá</td>
                        <td>@Convert.ToDecimal(Model.objProduct.Price).ToString("#,##0")<sup>đ</sup></td>
                    </tr>
                    <tr>
                        <td class="field">Giá khuyến mãi</td>

                        @if (Model.objProduct.PriceDiscount != null)
                        {
                            <td>@Convert.ToDecimal(Model.objProduct.PriceDiscount).ToString("#,##0")<sup>đ</sup></td>
                        }
                        @if (Model.objProduct.PriceDiscount == null)
                        {
                            <td style="font-style:italic;">Đang cập nhật...</td>
                        }
                    </tr>
                    <tr>
                        <td class="field">Loại sản phẩm</td>
                        @switch (Model.objProduct.TypeId)
                        {
                            case 1:
                                // code block
                                <td>Giảm giá sốc</td>
                                break;
                            case 2:
                                // code block
                                <td>Đề xuất</td>
                                break;
                      
                          }
                    </tr>
                    <tr>
                        <td class="field">Slug</td>
                        <td>@Model.objProduct.Slug</td>
                    </tr>
                    <tr>
                        <td class="field">Số lượng</td>

                        @if (Model.objProduct.Quantity != null)
                        {
                            <td>@Model.objProduct.Quantity thiết bị</td>
                        }
                        @if (Model.objProduct.Quantity == null)
                        {
                            <td style="font-style:italic;">Đang cập nhật...</td>
                        }
                    </tr>
                    <tr>
                        <td class="field">Ngày tạo</td>
                        <td>@Convert.ToDateTime(Model.objProduct.CreatedOnUtc).ToString("dd/MM/yyyy")</td>
                    </tr>
                    <tr>
                        <td class="field">Ngày cập nhật</td>
                        @if (Model.objProduct.UpdatedOnUtc != null)
                        {
                            <td>@Convert.ToDateTime(Model.objProduct.UpdatedOnUtc).ToString("dd/MM/yyyy")</td>
                        }
                        @if (Model.objProduct.UpdatedOnUtc == null)
                        {
                            <td style="font-style:italic;">Đang cập nhật...</td>
                        }
                    </tr>
                    <tr>
                        <td class="field">Trạn thái xoá</td>

                        @if (Model.objProduct.Deleted == true)
                        {
                            <td>Có</td>

                        }
                        else
                        {
                            <td>Không</td>
                        }
                    </tr>
                    <tr>

                        <td class="field">Hiển thị trang chủ</td>
                        @if (Model.objProduct.ShowOnHomePage == true)
                        {
                            <td>
                                Hiển thị trang chủ
                            </td>
                        }
                        else
                        {
                            <td>
                                Không hiển thị trang chủ
                            </td>
                        }
                    </tr>

                </tbody>

            </table>
        </div>
        <div class="col-md-3">
            <img src="/Public/images/product/@Model.objProduct.Avatar" alt="@Model.objProduct.Name" class="img-fluid" />
            <p class="text-center">Hình ảnh sản phẩm <span class="font-weight-bold">@Model.objProduct.Name</span></p>
        </div>
        <div class="row text-justify fullDes_Detai">
            @Html.Raw(Model.objProduct.FullDescription)
        </div>
  
    </div>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xoá" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "Index")
        </div>
    }
</div>
