@model Shop.Context.User_2119110245
@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<!--Nhúng fontawesome-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="row justify-content-md-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header" style="text-align:center;font-weight:bold;font-size:25px;">
                Đăng nhập
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", @placeholder = "Email", type="email"})

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Mật khẩu" })
                    </div>


                    if (TempData["error"] != null)
                    {
                        <span style="color:red;">
                            <i class="fa-solid fa-circle-xmark"></i>
                            @TempData["error"]
                        </span>
                    }
                    @*else
                    {
                        if(TempData["success"]!=null)
                        {
                        <span style="color:#0f0;">
                            <i class="fa-solid fa-circle-check"></i>

                            @TempData["success"]
                        </span>
                        }
                    }*@
                    <div class="form-group">
                        <input type="submit" name="submit" class="btn btn-primary" value="Đăng nhập" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>

