@model Shop.Context.User_2119110245

@{
    ViewBag.Title = "Đăng ký";
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";
}

<style>
    .font-chu {
        font-family: 'Poppins', sans-serif;
    }

    .form-control {
        width: 100%;
    }

    .form-horizontal {
        width: 660px;
    }

    .input__name {
        width: 45%;
        float: left
    }

    .label__item {
        font-weight: bold;
    }

    hr {
        margin-left: -15px;
        max-width: 600px;
    }

    .gotohome {
        margin-left: 10px;
        padding: 10px;
        border: 1px solid #ff6a00;
        border-radius: 10px;
    }

        .gotohome:hover {
            background-color: bisque;
        }

        .gotohome i {
            margin-right: 5px;
        }
</style>





<!--============================================================-->
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <!-- ============================ COMPONENT REGISTER   ================================= -->
    <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
        <article class="card-body">
            <header class="mb-4"><h4 class="card-title">Đăng ký</h4></header>
            @using (Html.BeginForm("Register","Home",FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="form-row">
                        <div class="col form-group">
                            <label>Họ</label>
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập họ của bạn..." } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div> <!-- form-group end.// -->
                        <div class="col form-group input__name">
                            <label>Tên</label>
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập tên của bạn..." } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div> <!-- form-group end.// -->
                    </div> <!-- form-row end.// -->
                </div>

                <div class="form-group">
                    <label>Email</label>

                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập email", type = "email" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    <small class="form-text text-muted">Chúng tôi sẽ không bao giờ chia sẻ email của bạn với bất kỳ ai khác.</small>
                </div>

                <div class="form-group">
                    <label>Số điện thoại</label>

                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập email", type = "tel" } })
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Địa chỉ</label>
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập địa chỉ", type = "text" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div> <!-- form-group end.// -->
                    
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Mật khẩu</label>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập mật khẩu", type = "password" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div> <!-- form-group end.// --> 
                    <!--<div class="form-group col-md-6">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Nhập lại mật khẩu", type = "password" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>--> <!-- form-group end.// -->
                </div>





                <div class="form-group">
                    <div class="col-md-offset-2">
                        <input type="submit" value="Đăng ký" class="btn btn-primary btn-block" />
                    </div>
                </div>

            }

            <div>

                <a href="@Url.Action("Index","Home")" class="gotohome"><i class="fa-solid fa-circle-arrow-left"></i>Trở về trang chủ</a>
            </div>
        </article>
    </div>
</section>

