@model Shop.Context.Product_2119110245
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout01.cshtml";
}




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">
    $(function () {
        $("#addtocart").click(function () {
            var model = {};
            //lấy id sản phẩm
            model.Id = @Model.Id;
            // lấy số lượng đặt hàng
            if ($("#ipQuantity").val() <= 0) {
                alert("Số lượng không được nhỏ hơn 0")
            } else {
            model.Quantity = $("#ipQuantity").val();
            }
          
            debugger;
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddToCart", "Cart")',
                data:  JSON.stringify(model) ,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function () {
                    alert("Thêm giỏ hàng thành công!")
                    $('#CartCount').text(@Session["count"] + 1);
                },
                error: function () {
                    alert("Lỗi trong khi thêm vào giỏ hàng!");
                }
            });
            return false;
        });
    });
</script>


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content bg-white padding-y">
    <div class="container">

        <!-- ============================ ITEM DETAIL ======================== -->
        <div class="row">
            <aside class="col-md-6">
                <div class="card">
                    <article class="gallery-wrap">
                        <div class="img-big-wrap">
                            <div> <a href="#"><img src="~/Public/images/product/@Model.Avatar"></a></div>
                        </div> <!-- slider-product.// -->
                        <div class="thumbs-wrap">
                            <a href="#" class="item-thumb"> <img src="~/Public/images/product/@Model.Avatar"></a>
                            <a href="#" class="item-thumb"> <img src="~/Public/images/product/@Model.Avatar"></a>
                            <a href="#" class="item-thumb"> <img src="~/Public/images/product/@Model.Avatar"></a>
                            <a href="#" class="item-thumb"> <img src="~/Public/images/product/@Model.Avatar"></a>
                        </div> <!-- slider-nav.// -->
                    </article> <!-- gallery-wrap .end// -->
                </div> <!-- card.// -->
            </aside>
            <main class="col-md-6">
                <article class="product-info-aside">

                    <h2 class="title mt-3">@Model.FullName </h2>

                    <div class="rating-wrap my-3">
                        <ul class="rating-stars">
                            <li style="width:90%" class="stars-active">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </li>
                            <li>
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </li>
                        </ul>
                        <small class="label-rating text-success"> <i class="fa fa-clipboard-check"></i> 154 đã bán </small>
                    </div> <!-- rating-wrap.// -->

                    @if (Model.PriceDiscount != null)
                    {
                        var rateSale = Model.PriceDiscount / Model.Price * 100 - 100;
                        var sale = Math.Round((float)rateSale, 0);
                        <div class="mb-3">
                            <var class="price h4">@Convert.ToDecimal(@Model.PriceDiscount).ToString("#,##0")<sup>đ</sup> </var>
                            <span class="text-muted">  VAT ( @sale% - Giá gốc: @Convert.ToDecimal(@Model.Price).ToString("#,##0")<sup>đ</sup>)</span>
                        </div> <!-- price-detail-wrap .// --> }
                    else
                    {<div class="mb-3">
                            <var class="price h4">@Convert.ToDecimal(@Model.Price).ToString("#,##0")<sup>đ</sup></var>
                            <span class="text-muted"> VAT</span>
                        </div> <!-- price-detail-wrap .// -->
                    }

                    <p>
                        @Model.ShoetDes

                    </p>


                    <dl class="row">
                        <dt class="col-sm-3">Ngày: </dt>

                        <dd class="col-sm-9"><a href="#">@Convert.ToDateTime(Model.CreatedOnUtc).ToString("hh:mm - dd/MM/yyyy")</a></dd>


                        <dt class="col-sm-3">Bảo hành:</dt>
                        <dd class="col-sm-9">2 năm</dd>

                        <dt class="col-sm-3">Giao hàng</dt>
                        <dd class="col-sm-9">1-2 ngày</dd>

                        <dt class="col-sm-3">Số lượng</dt>
                        @if (Model.Quantity == null || Model.Quantity < 1)
                        {


                            <dd class="col-sm-9" style="font-weight:bold">Hết hàng</dd>
                        }
                        else
                        {
                            <dd class="col-sm-9">
                                Hàng có sẵn
                                @if (@Model.Quantity.ToString().Length < 2)
                                {
                                    <span>0</span>@Model.Quantity
                                }
                                else
                                {
                                    @Model.Quantity
                                } thiết bị
                            </dd>
                        }
             
                        
                    </dl>

                    <div class="form-row  mt-4">
                        <div class="form-group col-md flex-grow-0" style="max-width:100px; width:100px;">
                            <div class="input-group mb-3 input-spinner" style=" width:80px;" >
                                <input type="number" id="ipQuantity" class="form-control" value="1" min="1" max="20" style="width:70px;max-width:80px;">
                            </div>
                        </div> <!-- col.// -->
                        <div class="form-group col-md">
                            <a href="#" id="addtocart" class="btn  btn-primary">
                                <i class="fas fa-shopping-cart"></i>
                                <span class="text" h>Thêm vào giỏ hàng</span>
                            </a>
                        </div> <!-- col.// -->
                    </div> <!-- row.// -->

                </article> <!-- product-info-aside .// -->
            </main> <!-- col.// -->
        </div> <!-- row.// -->
        <!-- ================ ITEM DETAIL END .// ================= -->


    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y bg">
    <div class="container">

        <div class="row">
            <div class="col-md-8">
                <h5 class="title-description">Chi tiết</h5>
                <p>@Html.Raw(Model.FullDescription)</p>

              
            </div> <!-- col.// -->

            <aside class="col-md-4">
           
            </aside> <!-- col.// -->
        </div> <!-- row.// -->

    </div> <!-- container .//  -->
</section>

<!-- ========================= SECTION CONTENT END// ========================= -->
<style>
    .input-spinner input.form-control {
    max-width:100px;
    }
</style>